.postCont {
  padding: 0px 10px;
  border: 2px solid grey;
  border-radius: 5px;
  /*color: red;*/
}
.postCont h1{
  text-align: left;
}
.content{
  background-color: #f4ebeb;
}
.col-md-12 {
    padding-bottom: 2px;
}
