.postCont {
  padding: 0px 10px;
  border: 2px solid grey;
  border-radius: 5px;
  /*color: red;*/
}
.postCont h1{
  text-align: left;
}
.content{
  background-color: #f4ebeb;
}
.col-md-12 {
    padding-bottom: 2px;
}
/*.navbar-nav{
  background-color: #a92f2f;
}*/
.nav{
  background-color: #eae0e0;
}
body {
  background-color: #efecec;
}
.pagina{
  padding-top: 15px;
}
