<!DOCTYPE html>
<html ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <title>Editora Crescer</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.4/angular-locale_pt-br.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="js/modulo.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js" type="text/javascript"></script>
<script src="https://rawgit.com/cwi-crescer-2017-1/instrutores/master/modulo-05-angularjs/auth/auth.module.js" type="text/javascript"></script>
    <script src="js/lancamentosServices.js"></script>
    <script src="js/navController.js"></script>
    <script src="js/lancamentosController.js"></script>
    <script src="js/livrosController.js"></script>
    <script src="js/loginController.js"></script>
    <script src="js/escolhidoController.js"></script>
    <script src="js/alterarController.js"></script>
    <link rel="stylesheet" href="css/main.css">

  </head>
  <body >
    <div ng-controller="NavController">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"></a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <form class="form-inline my-2 my-lg-0" ng-submit="pesquisar(search)">
              <label for="selectSearch">Pesquisa</label>
              <select class="form-control" id="selectSearch" ng-model="search.metodo" >
                <option>Nome</option>
                <option>Genero</option>
                <option>Autor</option>
              </select>
              <input class="form-control mr-sm-2" type="text" placeholder="Search" ng-model="search.campo" required>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </li>
          <li>
            <form class="form-inline my-2 my-lg-0" ng-submit="assinar(assinatura)">
            <label>Fique Sabendo dos Lancamentos </label>
            <input class="form-control mr-sm-2" type="email" placeholder="email@email.com" ng-model="assinatura.email">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Assinar</button>
            </form>
          </li>
        </ul>
        <div ng-class="{invisible: logado}">
          <a href="#!/login"> <button class="btn btn-outline-success my-2 my-sm-0" type="button">Login</button></a>
        </div>
        <div ng-class="{invisible: !logado}">
          <a href="#!/logout"> <button class="btn btn-outline-success my-2 my-sm-0" type="button">Logout</button></a>
        </div>
      </div>
    </nav>
  </div>

    <div class="container">

      <ng-view></ng-view>

    </div>
        <!-- MENU INFERIOR COM PAGINAS 1 2 3 4 5 6... -->
    <nav aria-label="Page navigation example" class="navbar navbar-toggleable-md navbar-light bg-faded " ng-class="{invisible: loginController}">
      <ul class="pagination justify-content-center">
        <li class="page-item" ><a class="page-link" href="/#!">1</a></li>
        <li ng-repeat="p in paginacao"class="page-item" ng-class="{invisible: p==0}">
          <a class="page-link" href="/#!/livros/{{p+1}}">{{p+1}}</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
