
<!-- VAI TUDO PRA LANCAMENTOS -->
<div class="conteudo-lancamentos">
  <div class="row row-centered">
    <div class="col-md-4 col-centered" ng-repeat="lancamento in lancamentos">
        <div>
              <img src="{{lancamento.Capa}}" alt="{{lancamento.Titulo}}">
        </div>
    </div>
  </div>
</div>
<div class="conteudo-livros">
  <div class="row row-centered">
    <div class="col-md-2 col-centered" ng-repeat="livro in livros">
        <!-- {{livro}} -->
        <div>
              <img src="{{livro.Capa}}" alt="{{livro.Titulo}}">
        </div>
        <div>
          <p>{{livro.Titulo}}</p>
          <p><strong>Genero:</strong> {{livro.Genero}}</p>
          <p><strong>Autor:</strong> {{livro.NomeAutor}}</p>
        </div>
    </div>
  </div>
</div>
