<ul class="nav nav-pills">
  <br>
  <li role="presentation"class="active"><a href="#!/aulas">Aulas</a></li>
  <li role="presentation" ><a href="#!/instrutores">Instrutores</a></li>

</ul>
<div class="">
<br>
  <h1>Aulas</h1>

  <table class="table table-hover table-bordered">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Alterar</th>
      <th>Excluir</th>
    </tr>
    <tr ng-repeat="aulaShow in aulas | orderBy: 'nome'" ng-class="{aulaSelecionada: aula.id === aulaShow.id}" >
      <td>{{aulaShow.id}}</td>
      <td>{{aulaShow.nome}}</td>
      <td><a href="/#!/aulas/{{aulaShow.id}}" type="button"><button ng-click="goToAlterar(aulaShow.id)">Alterar</button></a></td>
      <!-- <td><button ng-click="update(aula)">Alterar</button></td> -->
      <td><button ng-click="delete(aulaShow)">Deletar</button></td>
    </tr>
  </table>

  <div ng-class="{isVisible: aula.id != undefined}" >
    <form novalidate name="formIncluirAula">
      <label>Incluir Aula</label>
      <input type="text" ng-model="novaAula.nome" placeholder="Banco de Dados"  required ng-minlength="3" ng-maxlength='20'>
      <button ng-click="insert(novaAula)">Incluir</button>
    </form>
  </div>

  <div ng-class="{isVisible: aula.id === idUrl}">
    <form novalidate name="formAlterarAula">
      <label>Alterar Aula</label>
      <label>ID:</label>
      <label ng-model="aula.id"> {{aula.id}}
      <label>Novo Nome:</label>
      <input type="text" ng-model="aula.nome" placeholder="Banco de Dados" required ng-minlength="3" ng-maxlength='20'>
      <button ng-click="update(aula)">Alterar</button>
    </form>
  </div>

</div>
