<div class="">
  <ul>
    <li ng-repeat="aula in aulas">
      ID: {{aula.id}} - {{aula.nome}}
    </li>
  </ul>
  <hr>
</div>
<div class="">
    <label>Incluir Aula</label>
    <input type="text" ng-model="novaAula.nome" placeholder="Banco de Dados">
    <button ng-click="insert(novaAula)">Incluir</button>
</div>

<div class="">
    <label>Alterar Aula</label>
    <label>ID:</label>
    <input type="number" ng-model="alterarAula.id">
    <label>Novo Nome:</label>
    <input type="text" ng-model="alterarAula.nome" placeholder="Banco de Dados">
    <button ng-click="update(alterarAula)">Alterar</button>
  </form>
</div>

<div class="">
  <label>Deletar Aula</label>
  <input type="number" ng-model="deletarAula.id">
  <button ng-click="delete(deletarAula)">Deletar</button>
</div>
</ul>
