<br>
<form name="formCadastroPedido" method="post">
    <h3>Produtos</h3>
      <div class="produtosTela">
        <div class="row">
<input id="festaInfantil" type="checkbox" value="1"  class="check-with-label" style="display:none;">
<label for="festaInfantil" class="label-for-check">
          <div class="col-md-3">
            <div>
              <img src="https://goo.gl/Z0Zn22" alt="Festa Infantil">
            </div>
            <div>
              <p>
                Festa Infantil
              </p>
            </div>
          </div>
</label>

<input id="festaAdulto" type="checkbox" value="2"  class="check-with-label" style="display:none;">
<label for="festaAdulto" class="label-for-check">
          <div class="col-md-3">
            <div>
              <img src="https://goo.gl/plm3nR" alt="Festa Adulto" >

            </div>
            <div>
              <p>
                Festa Adulto
              </p>
            </div>
          </div>
</label>
<input id="festaCasamento" type="checkbox" value="3" class="check-with-label" style="display:none;">
<label for="festaCasamento" class="label-for-check">
          <div class="col-md-3">
            <div>
              <img src="https://goo.gl/6VfZbk" alt="Festa Casamento">
            </div>
            <div>
              <p>
                Festa Casamento
              </p>
            </div>
          </div>
</label>

<input id="festaFormatura" type="checkbox" value="4" class="check-with-label" style="display:none;">
<label for="festaFormatura" class="label-for-check">
          <div class="col-md-3">
            <div>
              <img src="https://goo.gl/6LEvNz" alt="Festa Formatura">
            </div>
            <div>
              <p>
                Festa Formatura
              </p>
            </div>
          </div>
</label>
        </div>
        <!-- <select ng-model="pedido.Produto" ng-value="pedido.Produto">
          <option value="0">Festa Infantil</option>
          <option value="1">Festa Alduto</option>
          <option value="2">Festa Casamento</option>
          <option value="2">Festa Formatura</option>
        </select> -->
      </div>
    <hr>
    <h3>Produtos Pacote</h3>
    <div class="pacote">
      <div>Decoracao</div>
      <div>Decoracao + Intalacao</div>
      <div>Decoracao + Intalacao + equipe</div>
    </div>
    <hr>
    <h3>Produtos Opcionais</h3>
    <div class="opcionais">
      <div>Piscina de Bolinhas</div>
      <div>Carrinho de Algodão Doce</div>
      <div>Cama Elástica</div>
      <div>Escorregador Inflável</div>
    </div>
    <hr>
</form>
<h3>Dados do Cliente</h3>
<div class="cadastroCliente">
<form name="formCadastroDeCliente" novalidate ng-submit="cadastrarCliente(cliente)">
  <div class="row">
    <div class="col-md-6">
      <label>CPF: </label>
      <input type="text" ng-model="cliente.Cpf" required ng-minlength="11" maxlength="11">
      <button type="submit" ng-click="verificarCPF(cliente.Cpf)" >Verificar CPF</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Nome: </label>
      <input type="text" ng-model="cliente.Nome" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Endereco: </label>
      <input type="text"ng-model="cliente.Endereco" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Genero: </label>
      <select ng-model="cliente.Genero" ng-value="cliente.Genero" >
        <option value="0">Nao Informado</option>
        <option value="1">Masculino</option>
        <option value="2">Feminino</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>{{cliente.DataNascimento}}Data de Nascimento: </label>
      <input type="date" ng-model="cliente.DataNascimento" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="submit" ng-disabled="formCadastroDeCliente.$invalid">Cadastrar</button>
      <!-- <button type="submit" ng-disabled="formCadastroDeCliente.$invalid" ng-click="alterarCliente(cliente)">Alterar</button> -->
    </div>
  </div>
</form>
</div>
