<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="https://code.angularjs.org/1.6.4/angular.js"></script>
    <script src="js/controller.js"></script>
    <title></title>
  </head>
  <body>
      <div class="" ng-controller="controllerFiltro">
          <label for="inputPesquisaPokemon">Pesquisar</label>
          <input id="inputPesquisaPokemon" type="text" placeholder="Nome do Pokemon/Filtro Pesquisa" ng-model="filtroPokemon.nome">
          <hr>
          <ul>
            <li ng-repeat="pokemon in pokemons | filter:filtroPokemon">
            <strong>Nome:</strong> {{pokemon.nome}} <strong>Tipo:</strong> {{pokemon.tipo}}
            </li>
          </ul>
      </div>
  </body>
</html>
