<div class="nav" ng-include="'navbar.html'"><br></div>
<div class="profileContent">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
          <li class="list-group-item">
            <label for="">Password:</label>
            <input class="form-control" type="password" ng-value="password" ng-model="password" placeholder="">
          </li>
          <li class="list-group-item">
            <label for="">Repeat Password:</label>
            <input class="form-control" type="password" ng-value="password2" ng-model="password2" placeholder="">
          </li>
          <li class="list-group-item">
            <button class="btn" type="button" ng-click="changePassword(password, password2)">Change Password</button>
          </li>
      </ul>
    </div>
  </div>
</div>
