<div class="nav" ng-include="'navbar.html'"><br></div>

<div class="pagina">
<div class="row">
  <div class="col-md-3">
    <div class="friends">
      <div class="table-responsive">
        <table class="table">
      <h4><strong>Friends</strong></h4>
          <thead>
               <tr>
                 <th>Name</th>
                 <th>Status</th>
               </tr>
             </thead>
             <tbody>
               <tr ng-repeat="f in friends | limitTo:10">
                 <td>{{f.name}}</td>
                 <td>{{f.status}}</td>
               </tr>
            </tbody>
        </table>
      <table class="table">
       <h4><strong>Pending Requests</strong></h4>
           <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
              </tr>
            </thead>
             <tbody>
               <tr ng-repeat="p in pending | limitTo:10">
                 <td>{{p.name}}</td>
                 <td>{{p.status}}</td>
               </tr>
             </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row col-md-9">
    <div class="col-md-12">
      <div class="form-group">
        <form class="" ng-submit="postContent(post)">

          <div class="row">
            <div class="col-md-11">
              <label for="textarea">Share your thoughts!</label>
              <textarea class="form-control" id="textarea" rows="3" ng-model="post.content"></textarea>
            </div>
            <div class="col-md-1">
              <button class="btn" type="submit">Share</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12 postCont" ng-repeat="post in postContents | orderBy: '-publishDate' ">

      <div class="">
        <div class="col-md-12 name">
          <h4>
            <a href="#!/profile/{{post.userprofile.idUser}}">{{post.userProfile.name}}</a>
            </h4>
        </div>
        <div class="col-md-12 content">
          <p>{{post.content}}</p>
        </div>
        <div class="col-md-2">
          <label for="">{{"GGs "+post.numberOfLikes}}</label>
          <button class="btn" ng-click="gg(post)">+GG</button>
        </div>
        <div class="col-md-2 col-md-offset-8">
          <h5>{{post.publishDate | date:'dd/MM/yyyy'}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
