<ul class="nav navbar-nav">
    <li style="background-color:#8c0c0c;"><a>Welcome to GG Social</a></li>
    <li><a href="#!/feed">Feed</a></li>
    <li><a href="#!/profile">My Profile</a></li>
    <li><a href="#!/request">Relationship requests</a></li>
</ul>
<form class="navbar-form navbar-left">
    <div class="form-group">
      <input type="text" ng-model="nameSearch" placeholder="Ex.: Rafael Barizon">
    </div>
    <button class="btn" type="button" ng-click="searchName(nameSearch)">Search</button>
</form>
<ul class="nav navbar-nav" style="float:right;">
  <li><a href="#!/userprofile">{{"Welcome "+$root.usuario.name}}</a></li>
  <li><a ng-click="logout()" ng-controller="logoutController">Logout</a></li>
</ul>
<br><br>
