<div class="nav" ng-include="'navbar.html'"><br></div>
<hr>

<div class="row">
  <h3>Friends</h3>
  <div class="col-md-3" ng-repeat="profile in friends">
    <ul class="list-group">
        <li class="list-group-item">Name: {{profile.name}}</li>
        <li class="list-group-item">Gender:{{profile.gender === 1 ?  'Male' : profile.gender === 2? 'Female' : 'Not informed'}}</li>
        <li class="list-group-item">Birthday: {{profile.birthday| date:'dd/MM/yyyy'}}</li>
        <li class="list-group-item">Status: {{profile.status}}</li>
        <li class="list-group-item">
          <button type="button" class="btn" ng-click="unfriend(profile)">Unfriend</button>
        </li>
    </ul>
  </div>
</div>
<div class="row">
  <h3>Pending Requests</h3>
  <div class="col-md-3" ng-repeat="profile in pending">
    <ul class="list-group">
        <li class="list-group-item">Name: {{profile.name}}</li>
        <li class="list-group-item">Gender:{{profile.gender === 1 ?  'Male' : profile.gender === 2? 'Female' : 'Not informed'}}</li>
        <li class="list-group-item">Birthday: {{profile.birthday| date:'dd/MM/yyyy'}}</li>
        <li class="list-group-item">Status: {{profile.status}}</li>
        <li class="list-group-item">
          <button type="button" class="btn" ng-click="accept(profile)" ng-if="profile.status === 'received'">Accept</button>
          <button type="button" class="btn" ng-click="decline(profile)" ng-if="profile.status === 'received'">Decline</button>
          <button type="button" class="btn" ng-click="decline(profile)" ng-if="profile.status === 'pending' ">Cancel</button>
          <button type="button" class="btn" ng-click="unfriend(profile)" ng-if="profile.status === 'accepted'">Unfriend</button>
        </li>
    </ul>
  </div>
</div>
