* {
  box-sizing: border-box;
}

body {
  /*height: 500vh;*/
  margin: 0;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container {
  width: 60%;
  position: relative;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
}
.container .header {
  width: 40%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}
.container .header .menu {
  margin-top: 10%;
  text-align: center;
}
.container .header .menu .menuItems {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(169,169,169,.5);
  border: 2px solid rgba(169,169,169,.5);
  border-radius: 5px;
}
.container .header .menu .menuItems .menuItem {
  display: inline;
}
.container .header .menu .menuItems .menuItem .menuLink{
  color: #fff;
  padding:  10px;
  text-decoration: none;
  display: inline-block;
}

.container .conteudo{
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E3DEDC;
  margin-right: 0;
}
.container .conteudo h1{
  font-size: 20px;
  background-color: #4D4948;
  color: #E3DEDC;
  padding: 20px;
}
.container .conteudo .conteudoInterno{
  margin: 20px;
  height: 90%;
  border-bottom: 2px solid grey;
  border-bottom-width: thin;
}

.container .conteudo .conteudoInterno img {
  float: left;
  width: 50%;
  margin-right: 5px;
  margin-bottom: 10px;
}
.container .conteudo .conteudoInterno .conteudoParagrafo {
  line-height: 15px;
  font-size: 15px;
}
.container .conteudo .conteudoInterno .imageConteudo + p {
  height: 100%;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
